* {
  background-color: #ffe3db;
  box-sizing: border-box;
  font-family: "Autour One";
  font-size: 20px;
  font-weight: bold;
  color: #73512e;
}

button {
  /* outline: 2px solid red; */
  height: 55px;
}

.main-container {
  display: flex;
  padding: 59px 0px;
  max-width: 85%;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  justify-content: space-between;
}

.buttons {
  display: flex;
  gap: 25px;
  flex: 0 1 0;
}

.sign-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  flex-shrink: 1;
}

.container {
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
  flex: 0 1 0;
}

.actual-score {
  display: flex;
  gap: 48px;
}

.score-container {
  border: 5px solid #73512e;
  width: 336px;
  padding: 10px 12px;
}

img.cat {
  height: 170px;
  width: auto;
}

.choice-and-result {
  display: flex;
  gap: 30px;
}

.choice-and-result > div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.score-title {
  font-weight: bolder;
  font-style: italic;
  font-size: 25px;
}

@media (max-width: 1186px) {
  .main-container {
    flex-direction: column;
    gap: 100px;
    max-width: 65%;
  }
}
